<div class="text-xl">
  <%= @post.title %>
</div>
<div class="my-5">
  <%= markdown(@post.body) %>
</div>
<% if @user && @post.user_id == @user.id %>
<div class="flex">
  <div class="inline flex m-5 items-center w-fit h-10 border-2 border-blue-500 p-2 bg-blue-50 rounded-md">
    <%= link_to "Edit", edit_post_path(@post) %>
  </div>
  <div class="inline m-5">
    <%= button_to "Delete", @post, method: :delete, class: "px-2 h-10 border-2 border-blue-500 bg-blue-50 rounded-md" %>
  </div>
</div>
<% end %>
