@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a:hover {
        @apply text-blue-900;
        @apply font-bold;
    }

    h1, h2 {
        @apply text-lg;
        @apply font-bold;
        margin-top: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    ul {
        margin-left: 25px;
        @apply list-disc;
    }
}
