<div>
  <% if @user.nil? || @user.id.nil? %>
    <%= link_to "Login", new_login_path %>
  <% else %>
    <div>You are: <%= @user.email %></div>
    <div><%= link_to "Draft New Post", new_post_path %></div>
    <div><%= link_to "Logout", logout_path %></div>
  <% end %>
</div>